# Env files
.env
.env.local
.env.*.local

# Dependencies
node_modules/
mobile/node_modules/

# Expo
mobile/.expo/
mobile/dist/
mobile/web-build/

# Native builds
mobile/android/
mobile/ios/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

/mobile/node_modules/